In [ ]:
Variable define in Python

In [5]:
x = 5
y = 10
z=x+y
print(z)

15

In [ ]:
Rule for the declaring varibale in python

In [ ]:
Rule No  1 No Namescpace while declaring the variable

In [7]:
first name ='Imran'
print(first name)

SyntaxError: invalid syntax (178358352.py, line 1)

In [8]:
firstname='Imran'
print(firstname)

Imran

In [ ]:
Rule no 2 A variable name should not start with a number**

In [9]:
1name=Ajay
print(1name)

SyntaxError: invalid syntax (3311954283.py, line 1)

In [11]:
name1='kumar'
print(name1)

kumar

In [ ]:
Rule no 3 Variable name should not contain any special characters

In [ ]:
@16

In [12]:
name@="Naveen"
print(name@)

SyntaxError: invalid syntax (1212034237.py, line 2)

In [ ]:
datatype in Python

In [ ]:
1.String---str
2.number----integer (int) and floats (float) decimal
3.lists--->list
4.tuples--->tuples
5.Dictionaries-dict

In [ ]:
Classification  how to declare the string data type?
1.single quote
2.double quote
3.triple quote

In [13]:
name1= 'Amit'  # single quote
print(name1)

Amit

In [14]:
name2= "Kumar"  # double quote
print(name2)

Kumar

In [15]:
name3= "Ajay"  # triple quote
print(name3)

Ajay